/* Header */

header {
//   a {
//       color: white;
//   }

  .logo {
      width: 150px;
  }
//   .navbar-light {
//       background: black;
//       a {
//           color: white !important; //overwrite bootstrap default brand
//       }
//   }
  .dropdown:hover > .dropdown-menu {
      display: block;
  }
  .dropdown > .dropdown-toggle:active {
      pointer-events: none;
  }
    .navbar-nav {
      padding-top: 1rem;
      @media (min-width: 1000px) {
          padding-top: 0;
      }
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
      outline: 0;
  }
  .navbar-toggler {
      height: 45px;
  }
  .navbar-toggler span {
      display: block;
      background-color: white;
      height: 2px;
      width: 25px;
      margin-top: 6px;
      margin-bottom: 4px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      opacity: 1;
   }
   .navbar-toggler span:nth-child(1),
   .navbar-toggler span:nth-child(3) {
      -webkit-transition: transform .35s ease-in-out;
      -moz-transition: transform .35s ease-in-out;
      -o-transition: transform .35s ease-in-out;
      transition: transform .35s ease-in-out;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(1) {
       position: absolute;
       top: 32px;
       right: 30px;
       -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
       -o-transform: rotate(135deg);
       transform: rotate(135deg);
       opacity: 0.9;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(2) {
       visibility: hidden;
       background-color: transparent;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(3) {
       position: absolute;
       top: 32px;
       right: 30px;
       -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
       transform: rotate(-135deg);
       opacity: 0.9;
   }
}