.service-menu-section {
    .bg-img { 
        /* The image used */
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-menu {

        .service-menu-card {
            border: 2px solid #bf9255;;
            border-radius: 20px;
            background-color: #ece8dd;
            margin: 0 10px;
            text-decoration: none;
            color: #000;
    
            .title {
                text-align: left;
            }
    
            .price {
                text-align: right;
            }
        }
        
        .service-menu-card:hover {
            color: #000;
            box-shadow: 10px 5px 5px #73737329;
        }
        
        .service-menu-card-haircut-title {
            font-weight: bold;
        }
        
        .service-menu-card-haircut-price {
            color: #bf9255;
            font-weight: bold;
            text-align: right;
        }
    
    }
}



