.content-section {
	padding: 3.75rem 0;
}

.banner-button {
	background: #ffffff;
	border-radius: 7px;
	color: #484d52;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 40px;
}

//////////! Homepage Banner //////////////////////////////
.homepage-banner {
	// margin: -70px 0 80px;
	padding: 10em 0 8em;
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	line-height: 1.75;

	.banner-content {
		text-align: left;
	}

	.banner-title,
	.banner-description {
		// width: 90%;
		// max-width: 490px;
		// margin-left: auto;
		// margin-right: auto;
	}

	.banner-title {
		color: #ffffff;
		font-size: 70px;
		font-weight: 900;
		line-height: 70px;
		text-align: left;
	}

	.banner-button {
		background: #ffffff;
		border-radius: 7px;
		color: #484d52;
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		margin-top: 30px;
		padding: 15px 40px;
	}

	.banner-button:hover {
		background: #c8c9cb;
	}
}

//////////! Text Sections //////////////////////////////
.text-section-2col {
	color: #fff;
	-webkit-column-count: 2;
	/* Chrome, Safari, Opera */
	-moz-column-count: 2;
	/* Firefox */
	column-count: 2;
	-webkit-column-gap: 40px;
	/* Chrome, Safari, Opera */
	-moz-column-gap: 40px;
	/* Firefox */
	column-gap: 40px;
}

.text-section-1col img,
.text-section-2col img,
.gallery img {
	margin-bottom: 1rem;
}

.text-section-1col p:last-child,
.text-section-2col p:last-child {
	margin-bottom: 0;
}

//////////!   Quote Component //////////////////////////////
.quote {
	background-color: #ece8dd;

	blockquote {
		display: block;
		font-family: "Amiri", Serif;
		font-size: 36px;
		font-style: italic;
		font-weight: normal;
		color: #484d52;
		letter-spacing: 1.14;
		line-height: 1.5em;
		quotes: "\201C""\201D""\2018""\2019";
		text-align: center;
	}

	blockquote:before,
	blockquote:after {
		color: #427a5b;
		content: open-quote;
		font-family: "Amiri", Serif;
		font-size: 2.5em;
		font-weight: 900;
		line-height: 0.1em;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: -0.3em;
	}

	blockquote:after {
		content: close-quote;
	}
}

//////////! Highlight Section //////////////////////////////
.highlight {
	position: relative;
	overflow: auto;
}

.highlight-left {
	width: 43%;
	float: left;
}

.highlight-right {
	p {
		color: #fff;
	}
	// font-family: "Oswald", sans-serif;
	width: 48%;
	float: right;
}

//////////! Gallery Section //////////////////////////////
.gallery {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.gallery-item {
	-webkit-box-flex: 0 1 48%;
	-moz-box-flex: 0 1 48%;
	-webkit-flex: 0 1 48%;
	-ms-flex: 0 1 48%;
	flex: 0 1 48%;
}

.gallery-link {
	margin-top: -20px;
	text-transform: uppercase;
}

//////////! Footer //////////////////////////////
footer {
	color: #9a9a9a;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

footer p {
	// border-top: 1px solid #DADADA;
	padding: 2rem 0;
	margin-bottom: 0;
}

footer a {
	font-weight: bold;
	text-decoration: none;
}

.footer-logo {
	width: 30px;
	margin-top: 10px;
}

//////////! IMAGE CONTENT SLICE //////////////////////////////
.image-content-title {
	font-size: 32px;
	line-height: 38px;
	// font-family: "Oswald", sans-serif;
	color: #fff;
}

.image-content-text {
	font-size: 24px;
	line-height: 32px;
	// font-family: "Oswald", sans-serif;
	color: #fff;
}
